{% extends "layout.html" %}

{% block body %}
<table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Start time (UTC)</th>
        <th>Name</th>
        <th>Results</th>
        <th>Taskbot URL</th>
      </tr>
    </thead>
    <tbody>
    {% for job in jobs.data %}
      <tr>
        <td>{{ job.id }}</td>
        <td>{{ job.start_time | replace("T", " ")}}</td>
        <td>{{ job.name }}</td>
        <td><a href="{{ url_for('main.results', job_id = job.id) }}">{{ job.results_count }} results</a></td>
        <td><a href="{{ job.ref_url }}">Ref &rarr;</a></td>
      </tr>
    {% endfor %}
    </tbody>
</table>


<ul class="pager">
  {% if jobs.prev %}
    <li class="previous"><a href="{{ url_for('main.jobs') }}?{{ jobs.prev.split('?')[-1] }}">&larr; Newer Jobs</a></li>
  {% endif %}
  {% if jobs.next %}
    <li class="next"><a href="{{ url_for('main.jobs') }}?{{ jobs.next.split('?')[-1] }}">Older Jobs &rarr;</a></li>
  {% endif %}
</ul>


{% endblock %}
