<!DOCTYPE html>
<html>
  <head>
    <title>{{ title|default('resultsdb_frontend') }}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Bootstrap -->
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  </head>

  <body>

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand"><b>resultsdb_frontend</b></span>
        </div>
        <div class="navbar-collapse collapse">

          <ul class="nav navbar-nav">
              <li><a href="{{ url_for('main.jobs') }}">Jobs</a></li>
              <li><a href="{{ url_for('main.results') }}">Results</a></li>
              <li><a href="{{ url_for('main.testcases') }}">Testcases</a></li>
          </ul>

          <form class="navbar-form navbar-right" role="search">
            <button type="button" class="btn btn-default" id="popover" data-placement="bottom">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </form>

        </div><!--/.nav-collapse -->
      </div><!--/.container -->
    </div><!--/.navbar -->


    <div class="container">
    {% for message in get_flashed_messages() %}
      <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
      </div>
    {% endfor %}
    </div>



    <div class="container">
    {% block body %}
       <h1> My First Flask Application! </h1>
    {% endblock %}
    </div>



    {% block footer %}
    {% endblock %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <!-- Progressbar eyecandy (https://github.com/kimmobrunfeldt/progressbar.js)
    <script src="waiting for reliable CND or own hosting"></script>
    -->
    <!-- Search logic -->
    <script src="{{ url_for('static', filename='js/search.js') }}"></script>

    <!-- Search html -->
    <div id="popover-head" class="hide">Search</div>
      <div id="popover-content" class="hide">
        
        <form id="searchform" role="form" name="searchform" action="">
          <div class="form-group">
          <input class="form-control" id="query" placeholder="Search" value="">
          </div>
          
          <div class="form-group">
          <select class="form-control" id="testcase">
            <option value="0">Any testcase</option>
            <option value="rpmlint">Rpmlint</option>
            <option value="depcheck">Depcheck</option>
            <option value="upgradepath">Upgradepath</option>
          </select>
          </div>
          
          <div class="form-group">
          <select class="form-control" id="type">
            <option value="0">Any type</option>
            <option value="koji_build">Koji build</option>
            <option value="bodhu_update">Bodhi update</option>
            <option value="koji_tag">Koji tag</option></select>
          </div>
          
          <div class="form-group">
            <label class="checkbox-inline"><input type="checkbox" id="exact" value="option1" checked> Exact search (faster)</label>
          </div>
         
          <button type="submit" class="btn btn-default" id="go">Go!</button>
        </form>
        <div id="progressbar-animation" class="hide" style="width:200px;"></div>
      </div>
    </div>

  </body>
</html>
