{% extends "layout.html" %}

{% block body %}
<table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Submit time (UTC)</th>
        <th>Testcase</th>
        <th>Outcome</th>
        <th>Summary</th>
        <th>Item</th>
        <th>Details</th>
        <th>Job</th>
        <th>Log</th>
      </tr>
    </thead>
    <tbody>
    {% for result in results.data %}
      <tr>
        <td>{{ result.id }}</td>
        <td>{{ result.submit_time | replace("T", " ")}}</td>
        <td><a href="{{ url_for('main.testcase', testcase_name=result.testcase.href.split('/')[-1]) }}">{{ result.testcase.name }}</a></td>
        <td>{{ result.outcome }}</td>
        <td>{{ result.summary }}</td>
        {% if result.result_data.item %}
            <td>{{ ",".join(result.result_data.item) }}</td>
        {% else %}
            <td>-</td>
        {% endif %}
        <td><a href="{{ url_for('main.result', result_id=result.id) }}">Details</a></td>
        <td><a href="{{ url_for('main.job', job_id=result.job_url.split('/')[-1]) }}">Job</a></td>
        <td><a href="{{ result.log_url }}">Log &rarr;</a></td>
      </tr>
    {% endfor %}
    </tbody>
</table>

<ul class="pager">
  {% if results.prev %}
    <li class="previous"><a href="{{ url_for('main.results') }}?{{ results.prev.split('?')[-1] }}">&larr; Newer Results</a></li>
  {% endif %}
  {% if results.next %}
    <li class="next"><a href="{{ url_for('main.results') }}?{{ results.next.split('?')[-1] }}">Older Results &rarr;</a></li>
  {% endif %}
</ul>



{% endblock %}
